body{
  background: black
    
}

.title {
  color: #02799D;
  padding: 25px;
}

.subtitle {
  color: #E1E1E6;
  padding: 25px;
}

#card-container {
  display: grid;
	gap: 40px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto auto;
	margin-left: 1%; 
  
  }

.card {
	background-color: #202024;
	border: 2px solid #323238;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 20px;
	width: 366px;
	height: 448px;
	text-align: start;
  }